<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
    <script src="/myForm.js"></script>
    <title>My Form</title>
</head>
<body>

<div id="form">
    <div id="task_list">
        <div class="task">
            To-do Item1 <input class="taskInput" type="text"/>
            <button id="addTask" onclick="addItemForm()">+</button>
        </div>
    </div>
    <input type="submit" onclick="submit()" value="send">
</div>

</body>
</html>