<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Assignment 2</title>
</head>
<body>
    <fieldset class="todo-list">
    <legend class="todo-list__title">Todo List</legend>

<!--    loop through each item in the URL and build the list-->
    <% items.forEach(function(item){%>
    <label class="todo-list__label">
        <input type="checkbox" name="" id="" />
        <i class="check"></i>
        <span><%=item %></span>
    </label>
    <% }) %>

    </fieldset>
</body>
</html>